/* header */

.w-50px {
    width: 50px;
}

.show-navbar {
    right: 0 !important;
}

.show-nvabar {
    right: 0 !important;
}

.menu-btn {
    display: none;
    border-radius: 20px;
    border: none;
    background-color: blue;
    color: white;
}

.connect-wall {
    width: 220px;
    height: 54px;
    border-radius: 10px;
    background-color: var(--null);
    border: 1px solid transparent;
    color: var(--sec);
    font-family: var(--poppins);
    font-size: var(--fs-xl);
    font-weight: 500;
    transition: all 400ms linear;
}

.connect-wall:hover {
    background-color: var(--sec);
    color: var(--null);
}


.navbar-link {

    font-family: var(--poppins);
    font-size: var(--fs-lg);
    font-weight: 400;
    color: var(--dark);

}

.navbar-link:hover {
    color: var(--sec);
}

.bg-color {
    background-color: var(--main);

}


/* header-end */
/* section-1 */
.bg-img-1 {
    width: 100%;
}

.sec-1-head {

    font-family: var(--poppins);
    font-size: var(--fs-3xl);
    font-weight: 700;
    line-height: 54px;
}

.max-806 {
    max-width: 806px;
}

.bg-color-2 {
    background-color: var(--main);

}

.top-left {
    bottom: 0%;
    right: 28.8%;
}

.pb-133 {
    padding-bottom: 133px;
}

/* section-1-end */
/* section-2 */
.bg-color-3 {
    background-color: var(--primary);
}

.dis-btn {
    width: 219px;
    height: 53px;
    background-color: var(--sec);
    color: var(--null);
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 400ms linear;
}

.dis-btn:hover {
    background-color: var(--null);
    color: var(--sec);
}

.mt-66 {
    margin-top: 66px;
}

.sub-heading {

    font-family: var(--poppins);
    font-size: var(--fs-4xl);
    font-weight: 700;
    line-height: 72px;
    color: var(--dark);

}

.mt-24 {
    margin-top: 24px;
}

.sub-footer {

    font-family: var(--poppins);
    font-size: var(fslg);
    font-weight: 400;
    line-height: 32.4px;
    color: var(--fivth);

}

.cursor {
    cursor: pointer;
}


.max-591 {
    max-width: 591px;
}

/* section-2-end */
/* section-3 */
.bg-color-4 {
    background-color: var(--main);
}

.min-1107 {
    min-height: 1107px;
}

/* section-3-end */
/* section-4 */
.bg-color-5 {
    background-color: var(--sec);
}

.number {

    font-family: var(--poppins);
    font-size: var(--fs-4xl);
    font-weight: 700;
    line-height: 72px;
    color: var(--null);

}

.number-foot {

    font-family: var(--poppins);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 32.4px;
    color: var(--null);


}

.sec-3-header {
    font-family: var(--poppins);
    font-size: var(--fs-4xl);
    color: var(--null);
    font-weight: 700;
    line-height: 72px;
    text-align: center;

}

/* section-4-end   */
/* section-5-time-line  */

/* section-5-time-end */
/* section-6 */
.bg-color-7 {
    background-color: var(--primary);
}

.min-617 {
    min-height: 617px;
}

.team {

    font-family: var(--poppins);
    font-size: var(--fs-4xl);
    font-weight: 700;
    line-height: 72px;
}

.photo-subheading {

    font-family: var(--poppins);
    font-size: var(--fs-2xl);
    font-weight: 700;
    line-height: 36px;
    text-align: center;

}

/* section-6-end */
/* section-7 */
.bg-color-8{
    background-color: var(--main);
}
.min-1090{
    min-height: 1090px;
}
.box-1 {
    width: 922px;
    height: 154px;

    background: #fff03f !important;
}

.boxs {
    background: #fff03f !important;
}

.amet {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #000000;
}

.enim-text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: #000000;
    opacity: 70%;
}

/* section-7-end  */

@media (max-width:992px) {

    /* rec-header */
    .nav-link {
        display: flex;
        flex-direction: column;
        background-color: gray;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear;
    }

    .show-nvabar {
        right: 0 !important;
    }

    .menu-btn {
        display: block;
        z-index: 1;
    }

    /* rec-header-end */

}