#loder {
    width: 100%;
    height: 100vh;
    background: #fff url("/assets/img/gif/loder.gif") no-repeat center;
    position: fixed;
    z-index: 100;
}

/* header */


.w-50px {
    width: 50px;
}

.show-navbar {
    right: 0 !important;
}



.connect-wallet {
    padding: 12px 32px;
    border-radius: 10px;
    background-color: var(--null);
    border: 1px solid transparent;
    color: var(--sec);
    font-family: var(--poppins);
    font-size: var(--fs-xl);
    font-weight: 500;
    transition: all 400ms linear;
    cursor: pointer;

}
.menu-lines {
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--null);
    display: flex;
    z-index: 10;
    transition: all 300ms linear;

}

.line-3 {
    
    z-index: 10;
}

.rotate {
    transform: rotate(40deg);
    transform-origin: left;
}

.rotate-2 {
    transform: rotate(-40deg);
    transform-origin: left;
}

.connect-wallet:hover {
    background-color: var(--sec);
    color: var(--null);
}


.navbar-link {

    font-family: var(--poppins);
    font-size: var(--fs-lg);
    font-weight: 400;
    color: var(--dark);

}

.navbar-link:hover {
    color: var(--sec);
    -webkit-text-stroke: 1px var(--sec);
}

.bg-color {
    background-color: var(--main);

}

.accordion {
    box-shadow: none;
}


/* header-end */
/* section-1 */
.min-600 {
    min-height: 700px;
}

.hero-section-logo {
    bottom: -48%;
    left: 35.5%;
}

.mt-73 {
    margin-top: 73px;
}

.bg-img-1 {
    width: 100%;
}

.burgar-1 {
    top: 10%;
    left: -15%;
    z-index: 0;
}

.burger-2 {
    top: 6%;
    left: 13%;
}

.burger-3 {
    top: 60%;
    left: -20%;
}

.burger-4 {
    top: 102%;
    left: 5%;
}

.burger-5 {
    top: 10%;
    right: 16%;
}

.burger-6 {
    top: 4%;
    right: -8%;
}

.burger-7 {

    bottom: -55%;
    right: 9%;
}

.burger-8 {
    right: -8%;
    bottom: -37%;
}

.hero-section-header {

    font-family: var(--poppins);
    font-size: var(--fs-3xl);
    font-weight: 700;
    line-height: 54px;
}

.max-806 {
    max-width: 806px;
}

.bg-color-2 {
    background-color: var(--main);

}


.pb-133 {
    padding-bottom: 133px;
}

/* section-1-end */
/* section-2 */
.bg-color-3 {
    background-color: var(--primary);
}

.discover-btn {
    width: 219px;
    height: 53px;
    background-color: var(--sec);
    color: var(--null);
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 400ms linear;
}

.discover-btn:hover {
    background-color: var(--null);
    color: var(--sec);
}

.mt-66 {
    margin-top: 66px;
}

.section-2-sub-heading {

    font-family: var(--poppins);
    font-size: var(--fs-4xl);
    font-weight: 700;
    line-height: 72px;
    color: var(--dark);

}

.mt-24 {
    margin-top: 24px;
}

.section-2-sub-footer {

    font-family: var(--poppins);
    font-size: var(fslg);
    font-weight: 400;
    line-height: 32.4px;
    color: var(--fivth);

}

.cursor {
    cursor: pointer;
}


.max-591 {
    max-width: 591px;
}

/* section-2-end */
/* section-3 */
.bg-color-4 {
    background-color: var(--main);
}

.min-1107 {
    min-height: 1107px;
}

/* section-3-end */
/* section-4 */
.bg-color-5 {
    background-color: var(--sec);
}

.pb-58 {
    padding-bottom: 58px;
}

.red-section-numbers {

    font-family: var(--poppins);
    font-size: var(--fs-4xl);
    font-weight: 700;
    line-height: 72px;
    color: var(--null);

}

.red-section-number-footer {

    font-family: var(--poppins);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 32.4px;
    color: var(--null);


}

.red-section-header{
    font-family: var(--poppins);
    font-size: var(--fs-4xl);
    color: var(--null);
    font-weight: 700;
    line-height: 72px;
    text-align: center;

}

/* section-4-end   */
/* section-5-time-line  */
.bg-color-6 {
    background-color: var(--main);
}

.roadmap {

    font-family: var(--poppins);
    font-size: var(--fs-4xl);
    font-weight: 700;
    line-height: 72px;


}





.pb-106 {
    padding-bottom: 106px !important;
}

.pt-73 {
    padding-top: 73px;
}

.timeline {
    max-width: 1200px;
    margin: 0 auto;
}





/* The actual timeline (the vertical ruler) */
.timeline_box::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--sec);
    top: 26px;
    /* bottom: 0; */
    height: 100%;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.sm-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.after-left::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid var(--null);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.after-rigth::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -12px !important;
    background-color: white;
    border: 4px solid var(--null);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}




.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */




/* section-5-time-end */
/* section-6 */
.bg-color-7 {
    background-color: var(--primary);
}

.min-617 {
    min-height: 617px;
}

.team {

    font-family: var(--poppins);
    font-size: var(--fs-4xl) !important;
    font-weight: 700;
    line-height: 72px;
}

.photo-subheading {

    font-family: var(--poppins);
    font-size: var(--fs-2xl);
    font-weight: 700;
    line-height: 36px;
    text-align: center;

}

/* section-6-end */
/* section-7 */
.bg-color-8 {
    background-color: var(--main);
}



.box-1 {
    width: 922px;
    height: 154px;

    background: #fff03f !important;
}

.boxs {
    background: #fff03f !important;
}

.accordion-header-text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: #000000;
}

.accordion-sm-text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: #000000;
    opacity: 70%;
}

.logo {
    max-width: 524px;
}

.mt-88 {
    margin-top: 88px;
}

.footer-text {

    font-family: var(--poppins);
    font-size: var(--fs-lg);
    font-weight: 400;
    line-height: 32.4px;
    color: var(--third);

}

.mt-52 {
    margin-top: 52px;
}

.mt-58 {
    margin-top: 58px;
}

.FAQ {

    font-family: var(--poppins);
    font-size: var(--fs-4xl);
    font-weight: 700;
    line-height: 72px;
    text-align: left;

}

.team {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-48);
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    padding-top: 42px;
    padding-bottom: 38px;
}



/* section-7-end  */
/* timeline */
.left-burger-1 {
    top: 6%;
    left: 11%;
}

.left-burger-2 {
    top: 33%;
    left: 0%;
}

.left-burger-3 {
    top: 55%;
    right: 71%;
}

.left-burger-4 {
    bottom: 8%;
    left: 0%;
}

.right-burger-1 {
    top: 6%;
    right: 0%;
}

.right-burger-2 {
    top: 26%;
    right: 16%;
}

.right-burger-3 {
    bottom: 15%;
    right: 0%;
}

.right-burger-4 {
    bottom: 8%;
    right: 22%;
}

.timeline {
    position: relative;
    max-width: 1320px;
    margin: 0 auto;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #f4241e;
    top: 17px;
    bottom: -35px;
    left: 50%;
    margin-left: -3px;
}

.container-t {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container-t::after {
    content: "";
    position: absolute;
    width: 36.03px;
    height: 36.03px;
    right: -18px;
    background-color: white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -18px;
}

.content {
    padding: 27px 23px 27px 23px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline-font-1 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.mt-10 {
    margin-top: 10px;
}

.timeline-font-2 {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.jhon {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-24);
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.manager {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-18);
    font-weight: 400;
    line-height: 32.4px;
    text-align: center;
}


/* timeline-2 */
.boxs{
    margin-bottom: 8px;
}
.accordion-item{
    border: none !important;

}
.accordion-button{
    box-shadow: none !important;
    color: var(--dark) !important;
}
@media (max-width:992px) {

    /* rec-header */
    .nav-link {
        display: flex;
        flex-direction: column;
        background-color: gray;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear;
        z-index: 5;
    }

    .show-nvabar {
        right: 0 !important;
    }

    .menu-btn {
        display: block;
        z-index: 1;
    }

    .min-500 {
        min-height: 500px;
    }
}


@media screen and (max-width: 576px) {
    .container-t {
        width: 100%;
        padding-left: 60px;
    }

    .timeline::after {
        left: 31px;
    }

    .sm-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .sm-container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }

    .after-rigth::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        left: 15px !important;
        background-color: white;
        border: 4px solid var(--null);
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    .timeline_box::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: var(--sec) !important;
        top: 26px;
        height: 100%;
        left: 6%;
        margin-left: -3px;
    }

    .min-400 {
        min-height: 400px;
    }


}