@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* font-size */
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-3xl: 36px;
    --fs-4xl: 48px;


    /* color */

    --main: #F6E300;
    --primary: #FFF03F;
    --sec: #F4241E;
    --third: #4A4500;
    --forth: #4D4813;
    --fivth: #33300D;
    --null: #FFFFFF;
    --dark: #000000;
    


    /* font-family */

    --poppins: "Poppins", sans-serif;

}